/* overwrite default browser padding and margin rules*/
*{
    padding:0;
    margin: 0;
}

html, body{
    height: 100%;
}

.pizzaNav{
    background-color: #ed6300;
    min-height: 50px;
}

.pizzaNav a{
    color: #fff;
}

.pizzaNav .navbar-nav > li > a:hover,
.my-navbar .navbar-nav > li > a:focus{
    background-color: #b05800;
}

i{
    color: white;
}

.container-fluid{
    position: relative;
}

main{
    padding-bottom: 40px;
    min-height: 100vh;
}

footer{
    background-color: black;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
}